* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* random acent color variable */
:root {
 --accent-color: red;
}

#body {
 font-family: 'Noto Sans JP', sans-serif;

 max-width: 100% !important;
 overflow-x: scroll;
 background: rgb(83, 0, 0);

 overflow-x: hidden;
 width: 100%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;

 /* -ms-overflow-style: none; 
  scrollbar-width: none; */
}

.link {
 color: var(--accent-color);
 transition: color 1s ease-in-out;
}
.link:hover,
.link:focus {
 filter: brightness(150%);
}

/* nav  bar*/
.nav-container {
 width: 100vw;
 background-color: rgba(0, 0, 0, 0.6);
 /* background: lime; */
 position: fixed;
 z-index: 3;
 padding: 1rem 3rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 animation: show-nav 1.5s ease-in-out;
}

@keyframes show-nav {
 0% {
  top: -100%;
 }
 100% {
  top: 0;
 }
}
.brand-title {
 position: relative;
 top: 0rem;
 left: 1rem;
 max-height: 3rem;
}

.navbar-links ul {
 margin: 0;
 padding: 0;
 display: flex;
}
.nav-container li {
 color: white;
 list-style: none;
 padding: 0.16rem 1rem;
 font-family: 'Noto Sans JP', sans-serif;
 font-weight: bold;
 cursor: pointer;
}
.nav-container li:hover {
 color: var(--accent-color);
 transition: color 0.3s ease-in-out;
}
.fa-bars {
 color: white;
 position: absolute;
 right: 2rem;
 display: none;
 font-size: 1.3rem;
}
.fa-bars:hover,
.fa-bars:focus {
 color: var(--accent-color);
 transition: color 0.3s ease-in-out;
}
@media (max-width: 1000px) {
 .fa-bars {
  display: flex;
 }
 .navbar-links {
  display: none;
  width: 100%;
 }
 .nav-container {
  flex-direction: column;
  align-items: flex-start;
 }
 .navbar-links ul {
  flex-direction: column;
  height: 18rem;
  transform: height 3s ease-in-out;
 }
 .navbar-links li {
  text-align: center;
  padding: 0.5rem;
 }
 .navbar-links.active {
  display: block;
 }
} /* Chapter Slides */
.header {
 clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 6vw));
 height: 45rem;
 z-index: 55;
 top: 0;
 display: block;
 background-color: rgb(31, 31, 31);
 height: 30rem;
 width: 100vw;
 position: relative;
}
@media screen and (max-width: 500px) {
 .header {
  height: 23rem;
 }
}
.chapter-container {
 box-shadow: 0px 17px 5px rgba(0, 0, 0, 0.6);
 position: relative;
 width: 100%;

 background: lime;
}
.chapter-left {
 clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0% 100%);
 background-attachment: fixed;
 transform: translateX(-400%);
 transition: transform 0.4s ease-in-out;
}
.chapter-right {
 clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));

 position: relative;

 background-attachment: fixed;
 transform: translateX(400%);
 transition: transform 0.4s ease-in-out;
}
.chapter.show {
 transform: translateX(0);
}

.chapter {
 background-color: rgb(31, 31, 31);
 min-height: 130vh;
 width: 100vw;
 position: relative;
}

.flute-chapter > .chapter {
 z-index: 6;
 background: #bababa;
}
.bet-chapter > .chapter {
 top: -12rem;
 z-index: 5;
 background: red;
}
.title {
 font-family: 'Six Caps';
 color: rgb(255, 255, 255);
 font-size: 4rem;
 padding-left: 2rem;
 font-weight: 300;
 position: absolute;
 padding-top: 8rem;
 animation: showTitle 2s ease-in-out forwards;
}
.subtitle {
 padding-top: 13rem;
 margin-left: 2rem;
 color: #616161;
 z-index: 10;
 animation: showTitle 2s ease-in-out forwards;
 animation-delay: 1s;
 display: flex;
 opacity: 0;
}
.chapter-title {
 font-family: 'Six Caps';
 color: yellow;
 z-index: 5;
 font-size: 8rem;

 position: relative;

 animation: showTitle 2s ease-in-out forwards;
}
.chapter-right .chapter-title {
}
